.vscode
data
*.jpg
*.png
*.mp4
*.fsa
*.pkl
*.pth
*.sif
good
bad
.syncthing*

datasets/error_detect.txt
faceshifter/FaceShifter
__pycache__
deepfakes_faceswap/deepfakes_faceswap.csv
faceshifter/errDonor.txt
faceshifter/errReceiver.txt
